<html>
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<style>
			body {
				height: 100%;
				margin: 0;
				padding: 0;
				background-color: black;
			}
		</style>
	</head>
	<body>
	</body>
</html>
